:root {
  font-size: 14px;
  animation: fadeIn;
  animation-duration: 300ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: #c3c3c3;
  transition: all 0.3s ease-in-out;
}
#root {
  position: relative;
}
body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
}
